body {
  background: #8E2DE2;
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input {
  background: none;
  outline: none;
  border: none;
  border-bottom: solid 2px white;
  color: white;
  font-weight: 700;
}

input[type='checkbox'] {display: none;}

label {
  position: relative;
  color: white;
  width: 20px;
  height: 20px;
  border: solid 2px white;
  border-radius: 3px;
  transition: 1s;
  cursor: pointer;
}

label:hover {
  background: #8800ff;
  transform: scale(1.1);
}

label:before {
  position: absolute;
  content: " ";
  color: white;
  font-size: 30px;
  top: -20px;
}

input:checked + label:before {
   content: "\2713";
  }

textarea {
  width: 100%;
  min-height: 200px;
  color: white;
  background: none;
  border-radius: 3px;
  border: solid 2px white;
  font-weight: 700;
  font-size: 20px;
  resize: none;
}

button {
  background: none;
  border: solid 2px white;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  padding: 5px;
  min-width: 80px;
  cursor: pointer;
  transition: 1s;
}

button:hover {
  background: #8800ff;
  transform: scale(1.05);
}
button:active {
  transition: 0.2s;
  transform: scale(0.9);
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.container {
  width: 320px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  animation: show 2s ease 0s 1 normal forwards;
}

*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #8800ff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #aa49ff;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #c27cff;
}

@keyframes show {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}